:root {
    --gray: #5B5B61;
    --robin: #CBDBDE;
    --milky: #D5E8F2;
    --aqua: #6ea6b0;
}

body {
    background-color: var(--robin);
    text-align: center; 
    font-family: merriweather, serif;
    font-weight: 300;
    font-style: normal; 
    color: var(--gray);
}

.bg {
    /* position: static; */
    max-height: 20%;
    width: 20%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    padding-bottom: 10px;
}

#text {
    padding: 50px 200px 100px;
    overflow-x: hidden;
    text-align: center;
}

a:link {
    color: var(--gray);
    font-weight: 500;
}

a:visited {
    color: var(--aqua);
}

/* ABOUT */
h1 {
    font-family: merriweather, serif;
    font-weight: 700;
    font-style: normal;
}

/* SKILLS */
.list {
    text-align: left;
    
}
ul li::marker {
    content: "➺  ";
    color: var(--milky);
}

/* PROJECTS */
.icon {
    padding: 0px 20px;
}

/* Styles for the slideshow container */
.slideshow-container {
  max-width: 800px;
  margin: 0 auto;
  position: relative;
}

/* Styles for the individual slides */
.slide {
  display: none;
}

/* Style for fading animation */
.fade {
  animation-name: fade;
  animation-duration: 2s;
}

@keyframes fade {
  0% {
      opacity: 0.4;
  }
  100% {
      opacity: 1;
  }
}
