:root {
    --gray: #5B5B61;
    --robin: #CBDBDE;
    --milky: #D5E8F2;
    --blossom: #E9B9C6;
}

body {
    background-color: var(--robin);
    text-align: center; 
    font-family: merriweather, serif;
    font-weight: 300;
    font-style: normal; 
    color: var(--gray);
}

.bg {
    position: static;
    max-height: 25%;
    width: 25%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    padding-bottom: 10px;
}

#text {
    margin: 0px 200px 100px !important;
    text-align: center;
}

a:link {
    color: var(--gray);
}

a:visited {
    color: var(--blossom);
}

/* ABOUT */
h1 {
    font-family: merriweather, serif;
    font-weight: 700;
    font-style: normal;
}

/* SKILLS */
.list {
    text-align: left;
    
}
ul li::marker {
    content: "➺  ";
    color: var(--milky);
}

/* PROJECTS */
.icon {
    padding: 0px 20px;
}